<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BangBank - Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Welcome to BangBank</h1>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    
  </header>

  <main>
    <p>This is your trusted digital banking solution.</p>
  </main>
</body>
</html>
